body {
    background-color:#2f286f;
    text-align: center;
    color:#fff;
    padding-top:10em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.lg-text {
    font-size: 5em;
}

* { color:#fff; text-decoration: none;}
